In [2]:
import mlrun
import pandas as pd
import requests
import os

In [3]:
ENV_FILE = ".mlrun.env"
if os.path.exists(ENV_FILE):
    mlrun.set_env_from_file(ENV_FILE)

# Project

In [2]:
# initialize project and sync to local/db
PROJECT = "demo-etl"
project = mlrun.get_or_create_project(PROJECT, "./")

> 2023-06-23 09:12:44,621 [info] loaded project demo-etl from MLRun DB

In [3]:
print(project)

{'kind': 'project', 'metadata': {'name': 'demo-etl', 'created': '2023-06-23T09:05:12.334530'}, 'spec': {'functions': [], 'workflows': [], 'artifacts': [], 'conda': '', 'source': '', 'desired_state': 'online'}, 'status': {'state': 'online'}}

# Explore

In [4]:
URL = "https://opendata.comune.bologna.it/api/explore/v2.1/catalog/datasets/rilevazione-flusso-veicoli-tramite-spire-anno-2023/exports/csv?lang=it&timezone=Europe%2FRome&use_labels=true&delimiter=%3B"
filename = "rilevazione-flusso-veicoli-tramite-spire-anno-2023.csv"

In [7]:
with requests.get(URL) as r:
    with open(filename, "wb") as f:
        f.write(r.content)

In [8]:
df = pd.read_csv(filename, sep=";")

In [9]:
df.head()

,data,codice spira,00:00-01:00,01:00-02:00,02:00-03:00,03:00-04:00,04:00-05:00,05:00-06:00,06:00-07:00,07:00-08:00,...,Nodo a,ordinanza,stato,codimpsem,direzione,angolo,longitudine,latitudine,geopoint,giorno settimana
0,2023-03-25,0.127 3.88 10 1,70,42,21,21,18,33,39,114,...,15108,4000/343434,A,125,NaN,150.0,11.370220,44.509755,"44.5097545007963, 11.3702196342924",Sabato
1,2023-03-25,0.127 3.90 2 1,79,51,20,28,40,89,173,350,...,16138,4000/343434,A,232,SO,127.0,11.410765,44.524268,"44.52426826666227, 11.410765190552794",Sabato
2,2023-03-25,0.127 3.90 4 1,16,10,2,2,2,5,17,33,...,11010,4000/343434,A,232,NO,57.0,11.410579,44.524109,"44.52410940013124, 11.410578972327496",Sabato
3,2023-03-25,0.127 3.91 4 1,139,69,44,46,27,59,122,419,...,16625,4000/343434,A,264,NO,38.0,11.364449,44.507129,"44.5071286928842, 11.3644494581845",Sabato
4,2023-03-25,0.127 3.93 6 1,234,136,95,85,55,103,141,287,...,15789,4000/343434,A,106,NE,321.0,11.381681,44.517642,"44.5176422952597, 11.3816808772175",Sabato

In [10]:
df.dtypes

data                 object
codice spira         object
00:00-01:00           int64
01:00-02:00           int64
02:00-03:00           int64
03:00-04:00           int64
04:00-05:00           int64
05:00-06:00           int64
06:00-07:00           int64
07:00-08:00           int64
08:00-09:00           int64
09:00-10:00           int64
10:00-11:00           int64
11:00-12:00           int64
12:00-13:00           int64
13:00-14:00           int64
14:00-15:00           int64
15:00-16:00           int64
16:00-17:00           int64
17:00-18:00           int64
18:00-19:00           int64
19:00-20:00           int64
20:00-21:00           int64
21:00-22:00           int64
22:00-23:00           int64
23:00-24:00           int64
id_uni                int64
Livello               int64
tipologia            object
codice              float64
codice arco           int64
codice via            int64
Nome via             object
Nodo da               int64
Nodo a                int64
ordinanza            object
stato                object
codimpsem             int64
direzione            object
angolo              float64
longitudine         float64
latitudine          float64
geopoint             object
giorno settimana     object
dtype: object

In [11]:
df.size

5683920

## 1. Collect the data

Create a new folder to store the functions in:

In [ ]:
new_folder = 'src'
if not os.path.exists(new_folder):
    os.makedirs(new_folder)

Define and export a function for downloading data and persisting into repository

In [5]:
%%writefile "src/download-data.py"

import mlrun
import pandas as pd
import requests

@mlrun.handler(outputs=["dataset"])
def downloader(context, url: mlrun.DataItem):  
    # read and rewrite to normalize and export as data
    df = url.as_df(format='csv',sep=";")
    return df

Overwriting src/download-data.py

register the function

In [6]:
project.set_function("src/download-data.py", name="download-data", kind="job", image="mlrun/mlrun", handler="downloader")

and execute (locally) to test

In [7]:
project.run_function("download-data", inputs={'url':URL}, local=True)

> 2023-06-23 09:13:01,780 [warning] it is recommended to use k8s secret (specify secret_name), specifying the aws_access_key/aws_secret_key directly is unsafe
> 2023-06-23 09:13:01,793 [info] Storing function: {'name': 'download-data-downloader', 'uid': 'a23451fc728a4c17aa7cb3d83f7130ac', 'db': 'http://mlrun-api:8080'}

> 2023-06-23 09:13:58,537 [info] run executed, status=completed: {'name': 'download-data-downloader'}

The result of the execution will be saved as an artifact in the data store, with a unique key.

By default the key is defined as `<function-name>-<handler>-<output>`)

In [8]:
DF_KEY = 'store://datasets/demo-etl/download-data-downloader_dataset'

In [9]:
di = mlrun.get_dataitem(DF_KEY)

In [10]:
df = di.as_df()

In [11]:
df.head()

,data,codice spira,00:00-01:00,01:00-02:00,02:00-03:00,03:00-04:00,04:00-05:00,05:00-06:00,06:00-07:00,07:00-08:00,...,Nodo a,ordinanza,stato,codimpsem,direzione,angolo,longitudine,latitudine,geopoint,giorno settimana
0,2023-03-25,0.127 3.88 10 1,70,42,21,21,18,33,39,114,...,15108,4000/343434,A,125,None,150.0,11.370220,44.509755,"44.5097545007963, 11.3702196342924",Sabato
1,2023-03-25,0.127 3.90 2 1,79,51,20,28,40,89,173,350,...,16138,4000/343434,A,232,SO,127.0,11.410765,44.524268,"44.52426826666227, 11.410765190552794",Sabato
2,2023-03-25,0.127 3.90 4 1,16,10,2,2,2,5,17,33,...,11010,4000/343434,A,232,NO,57.0,11.410579,44.524109,"44.52410940013124, 11.410578972327496",Sabato
3,2023-03-25,0.127 3.91 4 1,139,69,44,46,27,59,122,419,...,16625,4000/343434,A,264,NO,38.0,11.364449,44.507129,"44.5071286928842, 11.3644494581845",Sabato
4,2023-03-25,0.127 3.93 6 1,234,136,95,85,55,103,141,287,...,15789,4000/343434,A,106,NE,321.0,11.381681,44.517642,"44.5176422952597, 11.3816808772175",Sabato

# 2. Process the data

Raw data (as ingested from remote API) is usually not suitable for consumption. We'll define a set of functions to derive data as required by the scenario.

In [ ]:
df = mlrun.get_dataitem(DF_KEY).as_df()

### Extract *spire* information
extract information about the _spire_ (for example `id`,`geolocation`,`address`, `name`...)

In [ ]:
sdf= df.groupby(['codice spira']).first().reset_index()[['codice spira','longitudine','latitudine','Livello','tipologia','codice','codice arco','codice via','Nome via', 'stato','direzione','angolo','geopoint']]

In [ ]:
sdf.head()

,codice spira,longitudine,latitudine,Livello,tipologia,codice,codice arco,codice via,Nome via,stato,direzione,angolo,geopoint
0,0.127 1.1 6 1,11.354166,44.498535,1,spira,498.0,3312,19900,VIA G.BATTISTA DE ROLANDIS,A,N,342.0,"44.4985349106485, 11.3541657967424"
1,0.127 1.12 8 1,11.338970,44.495251,1,spira,1045.0,1016,5900,VIA CESARE BATTISTI,A,N,350.0,"44.4952505129043, 11.338970003537"
2,0.127 1.13 6 1,11.346420,44.491648,1,spira,130.0,1169,14700,VIA CASTIGLIONE,A,S,198.0,"44.4916483847646, 11.3464200565732"
3,0.127 1.14 4 1,11.339836,44.490116,1,spira,521.0,1050,59900,VIA URBANA,A,E,264.0,"44.4901162203284, 11.3398356513878"
4,0.127 1.15 2 1,11.343358,44.489507,1,spira,132.0,1064,25800,VIA GARIBALDI,A,N,347.0,"44.4895074220971, 11.3433581064329"

In [ ]:
sdf['tipologia'].unique()

array(['spira', 'telecamera'], dtype=object)

define a function to derive the dataset and save in the store

In [12]:
%%writefile "src/process-spire.py"

import mlrun
import pandas as pd

KEYS=['codice spira','longitudine','latitudine','Livello','tipologia','codice','codice arco','codice via','Nome via', 'stato','direzione','angolo','geopoint']

@mlrun.handler(outputs=["dataset-spire"])
def process(context, di: mlrun.DataItem):
    df = di.as_df()
    sdf= df.groupby(['codice spira']).first().reset_index()[KEYS]
    
    return sdf

Writing src/process-spire.py

register the function

In [13]:
project.set_function("src/process-spire.py", name="process-spire", kind="job", image="mlrun/mlrun", handler="process")

and execute (locally)

In [14]:
project.run_function("process-spire", inputs={'di': DF_KEY}, local=True)

> 2023-06-23 09:14:15,505 [warning] it is recommended to use k8s secret (specify secret_name), specifying the aws_access_key/aws_secret_key directly is unsafe
> 2023-06-23 09:14:15,518 [info] Storing function: {'name': 'process-spire-process', 'uid': '7acd4040a74b422ea12a08bf8d5fa71e', 'db': 'http://mlrun-api:8080'}

> 2023-06-23 09:14:16,021 [info] run executed, status=completed: {'name': 'process-spire-process'}

The result of the execution will be saved as an artifact in the data store, with a unique key.

In [ ]:
SDF_KEY = 'store://datasets/demo-etl/process-spire-process_dataset-spire'

In [ ]:
sdf = mlrun.get_dataitem(SDF_KEY).as_df()

In [ ]:
sdf.head()

,codice spira,longitudine,latitudine,Livello,tipologia,codice,codice arco,codice via,Nome via,stato,direzione,angolo,geopoint
0,0.127 1.1 6 1,11.354166,44.498535,1,spira,498.0,3312,19900,VIA G.BATTISTA DE ROLANDIS,A,N,342.0,"44.4985349106485, 11.3541657967424"
1,0.127 1.12 8 1,11.338970,44.495251,1,spira,1045.0,1016,5900,VIA CESARE BATTISTI,A,N,350.0,"44.4952505129043, 11.338970003537"
2,0.127 1.13 6 1,11.346420,44.491648,1,spira,130.0,1169,14700,VIA CASTIGLIONE,A,S,198.0,"44.4916483847646, 11.3464200565732"
3,0.127 1.14 4 1,11.339836,44.490116,1,spira,521.0,1050,59900,VIA URBANA,A,E,264.0,"44.4901162203284, 11.3398356513878"
4,0.127 1.15 2 1,11.343358,44.489507,1,spira,132.0,1064,25800,VIA GARIBALDI,A,N,347.0,"44.4895074220971, 11.3433581064329"

### Extract measures
extract measures for traffic as recorded by _spire_ (e.g. `time`,`value`)

In [ ]:
df = mlrun.get_dataitem(DF_KEY).as_df()

In [ ]:
keys = ['00:00-01:00',
         '01:00-02:00',
         '02:00-03:00',
         '03:00-04:00',
         '04:00-05:00',
         '05:00-06:00',
         '06:00-07:00',
         '07:00-08:00',
         '08:00-09:00',
         '09:00-10:00',
         '10:00-11:00',
         '11:00-12:00',
         '12:00-13:00',
         '13:00-14:00',
         '14:00-15:00',
         '15:00-16:00',
         '16:00-17:00',
         '17:00-18:00',
         '18:00-19:00',
         '19:00-20:00',
         '20:00-21:00',
         '21:00-22:00',
         '22:00-23:00',
         '23:00-24:00']
columns=['data','codice spira'] + keys

In [ ]:
rdf = df[columns]

In [ ]:
rdf.head()

,data,codice spira,00:00-01:00,01:00-02:00,02:00-03:00,03:00-04:00,04:00-05:00,05:00-06:00,06:00-07:00,07:00-08:00,...,14:00-15:00,15:00-16:00,16:00-17:00,17:00-18:00,18:00-19:00,19:00-20:00,20:00-21:00,21:00-22:00,22:00-23:00,23:00-24:00
0,2023-03-25,0.127 3.88 4 1,90,58,37,23,22,35,79,235,...,287,257,274,353,322,362,208,163,144,113
1,2023-03-25,0.127 3.89 2 1,81,52,37,20,14,38,69,147,...,252,253,270,269,235,249,174,123,108,117
2,2023-03-25,0.127 3.89 4 1,56,32,18,10,15,24,33,97,...,185,166,180,239,199,201,136,97,85,61
3,2023-03-25,0.127 3.92 2 1,132,56,43,37,46,78,160,357,...,631,673,708,829,959,823,543,327,279,363
4,2023-03-25,0.127 3.92 8 1,21,12,8,9,6,18,25,131,...,125,177,155,141,157,141,79,34,47,41

In [ ]:
tdf = rdf.head()

In [ ]:
key = '00:00-01:00'

In [ ]:
k = key.split("-")[0]

In [ ]:
xdf = tdf[['data','codice spira',key]]

In [ ]:
xdf['time'] = xdf.data.apply(lambda x: x+' ' +k)
xdf['value'] = xdf[key]

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
xdf

         data    codice spira  00:00-01:00              time  value
0  2023-03-25  0.127 3.88 4 1           90  2023-03-25 00:00     90
1  2023-03-25  0.127 3.89 2 1           81  2023-03-25 00:00     81
2  2023-03-25  0.127 3.89 4 1           56  2023-03-25 00:00     56
3  2023-03-25  0.127 3.92 2 1          132  2023-03-25 00:00    132
4  2023-03-25  0.127 3.92 8 1           21  2023-03-25 00:00     21

In [ ]:
vdf = xdf[['time','codice spira','value']]

In [ ]:
vdf

               time    codice spira  value
0  2023-03-25 00:00  0.127 3.88 4 1     90
1  2023-03-25 00:00  0.127 3.89 2 1     81
2  2023-03-25 00:00  0.127 3.89 4 1     56
3  2023-03-25 00:00  0.127 3.92 2 1    132
4  2023-03-25 00:00  0.127 3.92 8 1     21

In [ ]:
ls = []
for key in keys:
    k = key.split("-")[0]
    xdf = rdf[['data','codice spira',key]]
    xdf['time'] = xdf.data.apply(lambda x: x+' ' +k)
    xdf['value'] = xdf[key]
    vdf = xdf[['time','codice spira','value']]
    ls.append(vdf)

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
edf = pd.concat(ls)

In [ ]:
edf

                    time    codice spira  value
0       2023-03-25 00:00  0.127 3.88 4 1     90
1       2023-03-25 00:00  0.127 3.89 2 1     81
2       2023-03-25 00:00  0.127 3.89 4 1     56
3       2023-03-25 00:00  0.127 3.92 2 1    132
4       2023-03-25 00:00  0.127 3.92 8 1     21
...                  ...             ...    ...
129175  2023-05-07 23:00  0.127 4.86 6 1      8
129176  2023-05-07 23:00  0.127 4.90 4 1    390
129177  2023-05-07 23:00  0.127 4.92 2 1     50
129178  2023-05-07 23:00  0.127 4.95 4 1     34
129179  2023-05-07 23:00  0.127 4.96 6 1     14

[3100320 rows x 3 columns]

write function to process and save in store

In [15]:
%%writefile "src/process-measures.py"

import mlrun
import pandas as pd


KEYS = ['00:00-01:00',
         '01:00-02:00',
         '02:00-03:00',
         '03:00-04:00',
         '04:00-05:00',
         '05:00-06:00',
         '06:00-07:00',
         '07:00-08:00',
         '08:00-09:00',
         '09:00-10:00',
         '10:00-11:00',
         '11:00-12:00',
         '12:00-13:00',
         '13:00-14:00',
         '14:00-15:00',
         '15:00-16:00',
         '16:00-17:00',
         '17:00-18:00',
         '18:00-19:00',
         '19:00-20:00',
         '20:00-21:00',
         '21:00-22:00',
         '22:00-23:00',
         '23:00-24:00']
COLUMNS=['data','codice spira']

@mlrun.handler(outputs=["dataset-measures"])
def process(context, di: mlrun.DataItem):
    df = di.as_df()
    rdf = df[COLUMNS+KEYS]
    ls = []
    for key in KEYS:
        k = key.split("-")[0]
        xdf = rdf[COLUMNS + [key]]
        xdf['time'] = xdf.data.apply(lambda x: x+' ' +k)
        xdf['value'] = xdf[key]
        ls.append(xdf[['time','codice spira','value']])
    edf = pd.concat(ls)
    return edf

Writing src/process-measures.py

register the function

In [16]:
project.set_function("src/process-measures.py", name="process-measures", kind="job", image="mlrun/mlrun", handler="process")

and execute (locally)

In [17]:
project.run_function("process-measures", inputs={'di': DF_KEY}, local=True)

> 2023-06-23 09:14:25,418 [warning] it is recommended to use k8s secret (specify secret_name), specifying the aws_access_key/aws_secret_key directly is unsafe
> 2023-06-23 09:14:25,428 [info] Storing function: {'name': 'process-measures-process', 'uid': '9055eaf1274340a4a215ad0ead39648d', 'db': 'http://mlrun-api:8080'}

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

> 2023-06-23 09:14:27,068 [info] run executed, status=completed: {'name': 'process-measures-process'}

inspect the resulting data artifact

In [ ]:
MDF_KEY = 'store://datasets/demo-etl/process-measures-process_dataset-measures'

In [ ]:
mdf = mlrun.get_dataitem(MDF_KEY).as_df()

In [ ]:
mdf.head()

               time    codice spira  value
0  2023-03-25 00:00  0.127 3.88 4 1     90
1  2023-03-25 00:00  0.127 3.89 2 1     81
2  2023-03-25 00:00  0.127 3.89 4 1     56
3  2023-03-25 00:00  0.127 3.92 2 1    132
4  2023-03-25 00:00  0.127 3.92 8 1     21

# Workflow
Define a simple workflow which will execute all the ETL steps by composing functions

In [18]:
%%writefile "pipeline.py"

from kfp import dsl
import mlrun

URL = "https://opendata.comune.bologna.it/api/explore/v2.1/catalog/datasets/rilevazione-flusso-veicoli-tramite-spire-anno-2023/exports/csv?lang=it&timezone=Europe%2FRome&use_labels=true&delimiter=%3B"


@dsl.pipeline(name="Demo ETL pipeline")
def pipeline():
    project = mlrun.get_current_project()

    # run downloader
    downloader = project.run_function("download-data",inputs={'url':URL},outputs=["dataset"])

    # process spire
    process_spire = project.run_function("process-spire",inputs={'di': downloader.outputs["dataset"]})

    # process measures
    process_measures = project.run_function("process-measures",inputs={'di': downloader.outputs["dataset"]})

Writing pipeline.py

register the workflow

In [19]:
project.set_workflow("pipeline","./pipeline.py", handler="pipeline")

and run (remote)

In [20]:
project.run("pipeline")

> 2023-06-23 09:14:34,039 [warning] it is recommended to use k8s secret (specify secret_name), specifying the aws_access_key/aws_secret_key directly is unsafe
> 2023-06-23 09:14:34,040 [warning] it is recommended to use k8s secret (specify secret_name), specifying the aws_access_key/aws_secret_key directly is unsafe
> 2023-06-23 09:14:34,041 [warning] it is recommended to use k8s secret (specify secret_name), specifying the aws_access_key/aws_secret_key directly is unsafe

> 2023-06-23 09:14:34,316 [info] submitted pipeline demo-etl-pipeline 2023-06-23 09-14-34 id=0c6c798a-53c7-4f43-b495-2039b462bfe8
> 2023-06-23 09:14:34,317 [info] Pipeline run id=0c6c798a-53c7-4f43-b495-2039b462bfe8, check UI for progress

> 2023-06-23 09:14:34,347 [info] started run workflow demo-etl-pipeline with run id = '0c6c798a-53c7-4f43-b495-2039b462bfe8' by kfp engine

0c6c798a-53c7-4f43-b495-2039b462bfe8

# 3. Expose datasets as API
Define a simple api to expose data as REST.

In [29]:
%%writefile 'src/api.py'

import mlrun
import pandas as pd
import os

DF_URL = os.environ["DF_URL"]
df = None


def init_context(context):
    global df
    context.logger.info("retrieve data from {}".format(DF_URL))
    di = mlrun.run.get_dataitem(DF_URL)
    df = di.as_df()


def handler(context, event):
    global df
    if df is None:
        return context.Response(
            body="", headers={}, content_type="application/json", status_code=500
        )

    # mock REST api
    method = event.method
    path = event.path
    fields = event.fields

    id = False

    # pagination
    page = 0
    pageSize = 50

    if "page" in fields:
        page = int(fields['page'])

    if "size" in fields:
        pageSize = int(fields['size'])

    if page < 0:
        page = 0

    if pageSize < 1:
        pageSize = 1

    if pageSize > 100:
        pageSize = 100

    start = page * pageSize
    end = start + pageSize
    total = len(df)

    if end > total:
        end = total

    ds = df.iloc[start:end]
    json = ds.to_json(orient="records")

    res = {"data": json, "page": page, "size": pageSize, "total": total}

    return context.Response(
        body=res, headers={}, content_type="application/json", status_code=200
    )

Overwriting src/api.py

register the function

In [30]:
api_fn = project.set_function("src/api.py", name="api", kind="nuclio", image="mlrun/mlrun", handler='handler')

configure the function for deploy

In [31]:
DF_KEY = 'store://datasets/demo-etl/download-data-downloader_dataset'

In [32]:
api_fn.set_env(name='DF_URL', value=DF_KEY)
api_fn.with_requests(mem='64M',cpu="250m")
api_fn.spec.replicas = 1

In [33]:
project.save()

deploy and make a request

In [34]:
api_fn.deploy()

> 2023-06-23 09:19:08,965 [warning] it is recommended to use k8s secret (specify secret_name), specifying the aws_access_key/aws_secret_key directly is unsafe
> 2023-06-23 09:19:08,966 [info] Starting remote function deploy
2023-06-23 09:19:09  (info) Deploying function
2023-06-23 09:19:09  (info) Building
2023-06-23 09:19:09  (info) Staging files and preparing base images
2023-06-23 09:19:09  (info) Building processor image
2023-06-23 09:20:04  (info) Build complete
2023-06-23 09:20:12  (info) Function deploy complete
> 2023-06-23 09:20:19,407 [info] successfully deployed function: {'internal_invocation_urls': ['nuclio-demo-etl-api.mlrun.svc.cluster.local:8080'], 'external_invocation_urls': [':31630']}

'http://:31630'

In [37]:
res = api_fn.invoke("/?page=5&size=10")

> 2023-06-23 09:21:42,728 [info] invoking function: {'method': 'GET', 'path': 'http://nuclio-demo-etl-api.mlrun.svc.cluster.local:8080/?page=5&size=10'}

In [38]:
print(res)

{'data': '[{"data":"2023-03-25","codice spira":"1.10 1.9 4 2","00:00-01:00":146,"01:00-02:00":120,"02:00-03:00":58,"03:00-04:00":37,"04:00-05:00":36,"05:00-06:00":33,"06:00-07:00":50,"07:00-08:00":97,"08:00-09:00":178,"09:00-10:00":200,"10:00-11:00":264,"11:00-12:00":261,"12:00-13:00":318,"13:00-14:00":273,"14:00-15:00":204,"15:00-16:00":243,"16:00-17:00":234,"17:00-18:00":289,"18:00-19:00":293,"19:00-20:00":347,"20:00-21:00":354,"21:00-22:00":263,"22:00-23:00":268,"23:00-24:00":232,"id_uni":266,"Livello":1,"tipologia":"spira","codice":918.0,"codice arco":961,"codice via":50550,"Nome via":"VIA RIVA DI RENO","Nodo da":13570,"Nodo a":13540,"ordinanza":"4000\\/343434","stato":"A","codimpsem":294,"direzione":"SO","angolo":125.0,"longitudine":11.3313901059,"latitudine":44.4981528821,"geopoint":"44.4981528821138, 11.3313901059351","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"1.10 1.18 8 1","00:00-01:00":94,"01:00-02:00":50,"02:00-03:00":32,"03:00-04:00":27,"04:00-05:00":24,"05:00-06:00":32,"06:00-07:00":45,"07:00-08:00":85,"08:00-09:00":167,"09:00-10:00":231,"10:00-11:00":254,"11:00-12:00":232,"12:00-13:00":273,"13:00-14:00":200,"14:00-15:00":214,"15:00-16:00":222,"16:00-17:00":208,"17:00-18:00":235,"18:00-19:00":263,"19:00-20:00":282,"20:00-21:00":258,"21:00-22:00":204,"22:00-23:00":187,"23:00-24:00":163,"id_uni":387,"Livello":1,"tipologia":"spira","codice":139.0,"codice arco":9524,"codice via":50550,"Nome via":"VIA RIVA DI RENO","Nodo da":17074,"Nodo a":195,"ordinanza":"4000\\/343434","stato":"A","codimpsem":321,"direzione":"NE","angolo":286.0,"longitudine":11.3361015839,"latitudine":44.4985433373,"geopoint":"44.4985433372994, 11.3361015838849","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"1.11 0.127 6 1","00:00-01:00":250,"01:00-02:00":194,"02:00-03:00":99,"03:00-04:00":73,"04:00-05:00":31,"05:00-06:00":33,"06:00-07:00":53,"07:00-08:00":171,"08:00-09:00":259,"09:00-10:00":376,"10:00-11:00":427,"11:00-12:00":469,"12:00-13:00":545,"13:00-14:00":479,"14:00-15:00":366,"15:00-16:00":433,"16:00-17:00":426,"17:00-18:00":447,"18:00-19:00":471,"19:00-20:00":520,"20:00-21:00":455,"21:00-22:00":318,"22:00-23:00":331,"23:00-24:00":364,"id_uni":535,"Livello":1,"tipologia":"spira","codice":519.0,"codice arco":911,"codice via":41500,"Nome via":"VIA NOSADELLA","Nodo da":13554,"Nodo a":18,"ordinanza":"4000\\/343434","stato":"A","codimpsem":322,"direzione":"SO","angolo":155.0,"longitudine":11.3357500771,"latitudine":44.4930734341,"geopoint":"44.4930734341144, 11.3357500770563","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"1.12 1.80 2 1","00:00-01:00":92,"01:00-02:00":53,"02:00-03:00":63,"03:00-04:00":41,"04:00-05:00":42,"05:00-06:00":23,"06:00-07:00":40,"07:00-08:00":58,"08:00-09:00":38,"09:00-10:00":11,"10:00-11:00":10,"11:00-12:00":9,"12:00-13:00":9,"13:00-14:00":8,"14:00-15:00":8,"15:00-16:00":17,"16:00-17:00":11,"17:00-18:00":10,"18:00-19:00":13,"19:00-20:00":10,"20:00-21:00":4,"21:00-22:00":10,"22:00-23:00":4,"23:00-24:00":3,"id_uni":677,"Livello":1,"tipologia":"spira","codice":1052.0,"codice arco":1224,"codice via":5450,"Nome via":"VIA UGO BASSI","Nodo da":163,"Nodo a":166,"ordinanza":"4000\\/343434","stato":"A","codimpsem":347,"direzione":"E","angolo":260.0,"longitudine":11.340701553,"latitudine":44.4951923248,"geopoint":"44.4951923248476, 11.3407015529974","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"1.14 1.15 4 1","00:00-01:00":90,"01:00-02:00":79,"02:00-03:00":44,"03:00-04:00":28,"04:00-05:00":17,"05:00-06:00":10,"06:00-07:00":23,"07:00-08:00":74,"08:00-09:00":123,"09:00-10:00":147,"10:00-11:00":191,"11:00-12:00":210,"12:00-13:00":226,"13:00-14:00":186,"14:00-15:00":139,"15:00-16:00":159,"16:00-17:00":181,"17:00-18:00":185,"18:00-19:00":200,"19:00-20:00":214,"20:00-21:00":185,"21:00-22:00":143,"22:00-23:00":147,"23:00-24:00":155,"id_uni":384,"Livello":1,"tipologia":"spira","codice":136.0,"codice arco":1048,"codice via":35800,"Nome via":"VIA MARSILI","Nodo da":117,"Nodo a":6047,"ordinanza":"4000\\/343434","stato":"A","codimpsem":92,"direzione":"E","angolo":272.0,"longitudine":11.3411645443,"latitudine":44.4900102627,"geopoint":"44.4900102626705, 11.3411645442514","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"1.80 1.5 6 1","00:00-01:00":46,"01:00-02:00":27,"02:00-03:00":22,"03:00-04:00":21,"04:00-05:00":33,"05:00-06:00":21,"06:00-07:00":14,"07:00-08:00":28,"08:00-09:00":8,"09:00-10:00":1,"10:00-11:00":1,"11:00-12:00":0,"12:00-13:00":0,"13:00-14:00":0,"14:00-15:00":0,"15:00-16:00":0,"16:00-17:00":0,"17:00-18:00":0,"18:00-19:00":0,"19:00-20:00":0,"20:00-21:00":0,"21:00-22:00":1,"22:00-23:00":1,"23:00-24:00":2,"id_uni":674,"Livello":1,"tipologia":"spira","codice":1049.0,"codice arco":1340,"codice via":30150,"Nome via":"VIA DELL\'INDIPENDENZA","Nodo da":6143,"Nodo a":6142,"ordinanza":"4000\\/343434","stato":"A","codimpsem":329,"direzione":"N","angolo":350.0,"longitudine":11.3426627722,"latitudine":44.4950576691,"geopoint":"44.4950576691206, 11.3426627722195","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"1.80 1.5 6 2","00:00-01:00":146,"01:00-02:00":82,"02:00-03:00":51,"03:00-04:00":49,"04:00-05:00":45,"05:00-06:00":36,"06:00-07:00":41,"07:00-08:00":63,"08:00-09:00":114,"09:00-10:00":120,"10:00-11:00":137,"11:00-12:00":179,"12:00-13:00":170,"13:00-14:00":151,"14:00-15:00":126,"15:00-16:00":132,"16:00-17:00":138,"17:00-18:00":153,"18:00-19:00":204,"19:00-20:00":279,"20:00-21:00":151,"21:00-22:00":115,"22:00-23:00":142,"23:00-24:00":121,"id_uni":529,"Livello":1,"tipologia":"spira","codice":509.0,"codice arco":3029,"codice via":30150,"Nome via":"VIA DELL\'INDIPENDENZA","Nodo da":10279,"Nodo a":10278,"ordinanza":"4000\\/343434","stato":"A","codimpsem":250,"direzione":"N","angolo":350.0,"longitudine":11.3443929161,"latitudine":44.5009852776,"geopoint":"44.5009852775668, 11.3443929160912","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"1.80 1.12 6 1","00:00-01:00":77,"01:00-02:00":45,"02:00-03:00":36,"03:00-04:00":20,"04:00-05:00":16,"05:00-06:00":19,"06:00-07:00":11,"07:00-08:00":12,"08:00-09:00":25,"09:00-10:00":7,"10:00-11:00":4,"11:00-12:00":0,"12:00-13:00":2,"13:00-14:00":1,"14:00-15:00":41,"15:00-16:00":0,"16:00-17:00":0,"17:00-18:00":6,"18:00-19:00":0,"19:00-20:00":3,"20:00-21:00":2,"21:00-22:00":5,"22:00-23:00":0,"23:00-24:00":4,"id_uni":675,"Livello":1,"tipologia":"spira","codice":1050.0,"codice arco":1342,"codice via":5450,"Nome via":"VIA UGO BASSI","Nodo da":6142,"Nodo a":145,"ordinanza":"4000\\/343434","stato":"A","codimpsem":329,"direzione":"O","angolo":79.0,"longitudine":11.3423397141,"latitudine":44.4949821149,"geopoint":"44.4949821149014, 11.3423397141025","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"2.2 2.7 6 1","00:00-01:00":198,"01:00-02:00":155,"02:00-03:00":87,"03:00-04:00":49,"04:00-05:00":38,"05:00-06:00":50,"06:00-07:00":112,"07:00-08:00":232,"08:00-09:00":477,"09:00-10:00":585,"10:00-11:00":639,"11:00-12:00":621,"12:00-13:00":625,"13:00-14:00":534,"14:00-15:00":463,"15:00-16:00":541,"16:00-17:00":499,"17:00-18:00":523,"18:00-19:00":577,"19:00-20:00":529,"20:00-21:00":404,"21:00-22:00":302,"22:00-23:00":244,"23:00-24:00":320,"id_uni":594,"Livello":1,"tipologia":"spira","codice":543.0,"codice arco":128,"codice via":4850,"Nome via":"VIA DELLA BARCA","Nodo da":4486,"Nodo a":15506,"ordinanza":"4000\\/343434","stato":"A","codimpsem":36,"direzione":"O","angolo":59.0,"longitudine":11.2961565434,"latitudine":44.4942742967,"geopoint":"44.4942742967034, 11.2961565433655","giorno settimana":"Sabato"},{"data":"2023-03-25","codice spira":"2.2 2.7 6 2","00:00-01:00":210,"01:00-02:00":160,"02:00-03:00":97,"03:00-04:00":49,"04:00-05:00":34,"05:00-06:00":44,"06:00-07:00":92,"07:00-08:00":200,"08:00-09:00":429,"09:00-10:00":525,"10:00-11:00":543,"11:00-12:00":572,"12:00-13:00":590,"13:00-14:00":540,"14:00-15:00":466,"15:00-16:00":495,"16:00-17:00":506,"17:00-18:00":480,"18:00-19:00":542,"19:00-20:00":549,"20:00-21:00":448,"21:00-22:00":290,"22:00-23:00":246,"23:00-24:00":299,"id_uni":241,"Livello":1,"tipologia":"spira","codice":529.0,"codice arco":7773,"codice via":4850,"Nome via":"VIA DELLA BARCA","Nodo da":4573,"Nodo a":15961,"ordinanza":"4000\\/343434","stato":"A","codimpsem":334,"direzione":"NO","angolo":68.0,"longitudine":11.3018465271,"latitudine":44.4925365106,"geopoint":"44.4925365105699, 11.3018465270564","giorno settimana":"Sabato"}]', 'page': 5, 'size': 10, 'total': 129180}

In [41]:
rdf = pd.read_json(res['data'], orient='records')

In [42]:
rdf.head()

,data,codice spira,00:00-01:00,01:00-02:00,02:00-03:00,03:00-04:00,04:00-05:00,05:00-06:00,06:00-07:00,07:00-08:00,...,Nodo a,ordinanza,stato,codimpsem,direzione,angolo,longitudine,latitudine,geopoint,giorno settimana
0,2023-03-25,1.10 1.9 4 2,146,120,58,37,36,33,50,97,...,13540,4000/343434,A,294,SO,125,11.331390,44.498153,"44.4981528821138, 11.3313901059351",Sabato
1,2023-03-25,1.10 1.18 8 1,94,50,32,27,24,32,45,85,...,195,4000/343434,A,321,NE,286,11.336102,44.498543,"44.4985433372994, 11.3361015838849",Sabato
2,2023-03-25,1.11 0.127 6 1,250,194,99,73,31,33,53,171,...,18,4000/343434,A,322,SO,155,11.335750,44.493073,"44.4930734341144, 11.3357500770563",Sabato
3,2023-03-25,1.12 1.80 2 1,92,53,63,41,42,23,40,58,...,166,4000/343434,A,347,E,260,11.340702,44.495192,"44.4951923248476, 11.3407015529974",Sabato
4,2023-03-25,1.14 1.15 4 1,90,79,44,28,17,10,23,74,...,6047,4000/343434,A,92,E,272,11.341165,44.490010,"44.4900102626705, 11.3411645442514",Sabato